@media (max-width: 1830px) {
    .creativeBlock {
        width: 790px;
        height: 625px;
        &__orange {
            width: 100%;
            height: 200px;
        }
        &__photo {
            width: 530px;
            height: 100%;
            &--gradient {
                width: 110px;
                height: 200px;
            }
        }
        &__good {
            width: 385px;
            height: 545px;
            right: 40px;
            top: 212px;
        }
        &__data {
            width: 100px;
            height: 50px;
            font-size: 40px;
            bottom: -60px;
            left: 210px;
        }
    }
    .creativeInfo {
        width: 700px;
        height: 625px;
        &__title {
            font-size: 35px;
            margin-bottom: 40px;
        }
        &__text {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }

    .skillsInfo {
        width: 700px;
        height: 625px;
        &__title {
            font-size: 35px;
            margin-bottom: 40px;
        }
        &__text {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
    .skillsBlock {
        width: 790px;
        height: 625px;
        &__violet {
            width: 100%;
            height: 200px;
        }
        &__photo {
            width: 530px;
            height: 100%;
            &--gradient {
                width: 110px;
                height: 200px;
            }
        }
        &__good {
            width: 385px;
            height: 545px;
            right: 40px;
            top: 212px;
        }
        &__data {
            width: 100px;
            height: 50px;
            font-size: 40px;
            bottom: -60px;
            right: 220px;
        }
    }
    .shopBtn {
        width: 175px;
        height: 50px;
    }

    //Sale Block
    .heroPortfolio {
        &__title {
            font-size: 400px;
        }
        &__text {
            font-size: 16px;
        }
    }
    .commodityBlock {
        width: 480px;
        height: 630px;
        margin-bottom: 110px;
    }
    .shopBlock {
        width: 440px;
        height: 590px;
        &__img {
            width: calc(100% - (2 * 45px));
            height: calc(#{$heightShopImg} - 90px);
            &--vac2 {
                width: calc(100% - (2 * 120px));
            }
        }
    }
    //serviceItems block
    .serviceItem {
        width: 475px;
        height: 350px;
        padding: 30px 40px 80px;
    }
}

@media (max-width: 1650px) {
    .heroPortfolio {
        &__title {
            font-size: 360px;
        }
        &__text {
            font-size: 15px;
        }
    }
    .creativeBlock {
        width: 700px;
        height: 575px;
        &__orange {
            width: 100%;
            height: 175px;
        }
        &__photo {
            width: 500px;
            height: 575px;
            &--gradient {
                width: 120px;
                height: 175px;
            }
        }
        &__good {
            width: 350px;
            height: 500px;
            right: 40px;
            top: 199px;
        }
        &__data {
            font-size: 32px;
            bottom: -55px;
            width: 85px;
        }
    }
    .creativeInfo {
        width: 650px;
        height: 575px;
        &__title {
            font-size: 30px;
            margin-bottom: 35px;
        }
        &__text {
            font-size: 18px;
            margin-bottom: 35px;
        }
    }
    .shopBtn {
        width: 155px;
        height: 45px;
        font-size: 13px;
    }
    .skillsInfo {
        width: 650px;
        height: 575px;
        &__title {
            font-size: 30px;
            margin-bottom: 35px;
        }
        &__text {
            font-size: 18px;
            margin-bottom: 35px;
        }
    }
    .skillsBlock {
        width: 700px;
        height: 575px;
        &__violet {
            width: 100%;
            height: 175px;
        }
        &__photo {
            width: 500px;
            height: 575px;
            &--gradient {
                width: 120px;
                height: 175px;
            }
        }
        &__good {
            width: 350px;
            height: 500px;
            right: 40px;
            top: 199px;
        }
        &__data {
            width: 100px;
            height: 50px;
            font-size: 40px;
            bottom: -60px;
            right: 195px;
        }
    }
}

@media (max-width: 1500px) {
    
    .heroPortfolio {
        &__title {
            font-size: 320px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .creativeBlock {
        width: 630px;
        height: 525px;
        &__orange {
            height: 150px;
        }
        &__photo {
            width: 450px;
            height: 525px;
            &--gradient {
                width: 100px;
                height: 150px;
            }
        }
        &__good {
            width: 320px;
            height: 460px;
            right: 35px;
            top: 187px;
        }
        &__data {
            font-size: 30px;
            bottom: -50px;
            width: 80px;
            left: 165px;
        }
    }
    .creativeInfo {
        width: 630px;
        height: 525px;
        &__title {
            font-size: 25px;
            margin-bottom: 30px;
        }
        &__text {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    .skillsInfo {
        width: 630px;
        height: 525px;
        &__title {
            font-size: 25px;
            margin-bottom: 30px;
        }
        &__text {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    .skillsBlock {
        width: 630px;
        height: 525px;
        &__violet {
            height: 150px;
        }
        &__photo {
            width: 450px;
            height: 525px;
            &--gradient {
                width: 100px;
                height: 150px;
            }
        }
        &__good {
            width: 320px;
            height: 460px;
            right: 35px;
            top: 187px;
        }
        &__data {
            font-size: 30px;
            bottom: -50px;
            width: 80px;
            right: 165px;
        }
    }
    .shopBtn {
        width: 140px;
        height: 40px;
        font-size: 11px;
    }

    .commodityBlock {
        width: 440px;
        height: 590px;
        margin-bottom: 80px;
    }
    .shopBlock {
        width: 400px;
        height: 550px;

        &__img {
            width: calc(100% - (2 * 60px));
            height: calc(#{$heightShopImg} - 150px);
            &--vac2 {
                width: calc(100% - (2 * 115px));
            }
        }
    }
    .shopInfo {
        &__title {
            font-size: 25px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .serviceItems {
        margin-bottom: 50px;
    }
    .serviceItem {
        width: 435px;
        height: 335px;
        padding: 25px 30px 65px;
        &__title {
            font-size: 27px;
            margin-bottom: 25px;
        }
        &__text {
            font-size: 15px;
        }
    }
    .serviceIcon {
        width: 60px;
        height: 55px;
        margin-bottom: 25px;
    }
}

@media (max-width: 1355px) {
    .heroWorldBlock {
        height: 845px;
    }
    .strategyBlock {
        padding-top: 195px;
        margin-bottom: 200px;
    }
    #textRotate {
        margin-left: 15px;
        margin-bottom: 8px;
        font-size: 35px;
    }
    #textRotate2 {
        margin-right: 15px;
        margin-bottom: 8px;
        font-size: 35px;
    }
    .creativeBlock {
        width: 550px;
        height: 480px;
        &__orange {
            height: 125px;
        }
        &__photo {
            width: 400px;
            height: 480px;
            &--gradient {
                width: 85px;
                height: 125px;
            }
        }
        &__good {
            width: 295px;
            height: 430px;
            right: 30px;
            top: 177px;
        }

        &__data {
            font-size: 28px;
            bottom: -50px;
            width: 75px;
            left: 125px;
        }
    }
    .creativeInfo {
        width: 550px;
        height: 480px;
        &__title {
            font-size: 20px;
            margin-bottom: 25px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .shopBtn {
        width: 135px;
        height: 37px;
        font-size: 10px;
    }
    .skillsInfo {
        width: 550px;
        height: 480px;
        &__title {
            font-size: 20px;
            margin-bottom: 25px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .skillsBlock {
        width: 550px;
        height: 480px;
        &__violet {
            height: 125px;
        }
        &__photo {
            width: 400px;
            height: 480px;
            &--gradient {
                width: 85px;
                height: 125px;
            }
        }
        &__good {
            width: 295px;
            height: 430px;
            right: 30px;
            top: 177px;
        }

        &__data {
            font-size: 28px;
            bottom: -50px;
            width: 75px;
            right: 125px;
        }
    }
    .heroPortfolio {
        &__title {
            font-size: 280px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .appliancesBlock {
        top: -130px;
    }
    .commodityBlock {
        width: 390px;
        height: 510px;
        margin-bottom: 55px;
    }
    .shopBlock {
        width: 350px;
        height: 470px;
        padding-bottom: 50px;

        &__img {
            margin-top: 60px;
            width: calc(100% - (2 * 65px));
            height: calc(#{$heightShopImg} - 240px);
            &--vac2 {
                width: calc(100% - (2 * 118px));
            }
        }
    }
    .shopInfo {
        &__title {
            font-size: 22px;
        }
        &__text {
            font-size: 12px;
        }
    }
    .shopBtn {
        &--now {
            width: 115px;
            height: 30px;
            font-size: 8px;
            bottom: -15px;
        }
    }
    .serviceItems {
        margin-bottom: 45px;
    }
    .serviceItem {
        width: 395px;
        height: 275px;
        padding: 20px 25px 55px;
        &__title {
            font-size: 25px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 13px;
        }
    }
    .serviceIcon {
        width: 55px;
        height: 50px;
        margin-bottom: 15px;
    }
    .heroText {
        bottom: 0;
        &__title{
            font-size: 50px;
        }
        &__email{
            font-size: 50px;
        }
    }
}

@media (max-width: 1270px) {
    .heroWorldBlock {
        height: 740px;
    }
    .strategyBlock {
        padding-top: 135px;
        margin-bottom: 150px;
    }

    #textRotate {
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    #textRotate2 {
        margin-right: 15px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .creativeBlock {
        width: 480px;
        height: 450px;
        &__orange {
            height: 110px;
        }
        &__photo {
            width: 365px;
            height: 450px;
            &--gradient {
                width: 65px;
                height: 110px;
            }
        }
        &__good {
            width: 250px;
            height: 355px;
            right: 32px;
            top: 170px;
        }

        &__data {
            font-size: 23px;
            bottom: -48px;
            width: 62px;
            left: 110px;
        }
    }
    .shopBtn {
        width: 120px;
        height: 35px;
        font-size: 9px;
    }
    .creativeInfo {
        width: 480px;
        height: 450px;
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 12px;
        }
    }

    .skillsInfo {
        width: 480px;
        height: 450px;
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 12px;
        }
    }
    .skillsBlock {
        width: 480px;
        height: 450px;
        &__violet {
            height: 110px;
        }
        &__photo {
            width: 365px;
            height: 450px;
            &--gradient {
                width: 65px;
                height: 110px;
            }
        }
        &__good {
            width: 250px;
            height: 355px;
            right: 32px;
            top: 170px;
        }

        &__data {
            font-size: 23px;
            bottom: -48px;
            width: 62px;
            right: 110px;
        }
    }
    .serviceItems {
        margin-bottom: 40px;
        flex-direction: column;
    }
    .serviceHero {
        height: 1100px;
        margin-bottom: 280px;
    }
    .heroText {
        bottom: 5px;
        &__title{
            font-size: 35px;
        }
        &__email{
            font-size: 35px;
        }
    }
}
@media (max-width: 1180px) {
    .appliancesBlock {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (max-width: 1130px) {
    .heroPortfolio {
        &__title {
            font-size: 240px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .appliancesBlock {
        top: -85px;
    }
    .strategyBlock {
        padding-top: 100px;
        margin-bottom: 120px;
    }
    .heroWorldBlock {
        height: 655px;
    }
}

@media (max-width: 1030px) {
    .heroWorldBlock {
        height: 560px;
    }
    .strategyBlock {
        margin-bottom: 60px;
        padding-top: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--columnReverse {
            padding-top: 0;
            flex-direction: column-reverse;
        }
    }
    .creativeBlock {
        width: 480px;
        // height: 450px;
        margin-bottom: 120px;
    }
    .creativeInfo {
        width: 365px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .skillsInfo {
        width: 480px;
        width: 365px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .skillsBlock {
        width: 480px;
        margin-bottom: 120px;
    }
}

@media (max-width: 930px) {
    .servicesBlock {
        margin-top: 0;
        &__colorText {
            font-size: 12px;
            letter-spacing: 7px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 35px;
            margin-bottom: 30px;
        }
        &__text {
            font-size: 10px;
            letter-spacing: 7px;
            margin-bottom: 40px;
        }
        .serviceBtn {
            font-size: 12px;
            width: 175px;
            height: 45px;
            margin-bottom: 90px;
        }
    }
    .heroPortfolio {
        &__title {
            font-size: 190px;
        }
        &__text {
            font-size: 12px;
        }
    }
    .heroWorldBlock {
        height: 600px;
    }
    .commodityBlock {
        width: 350px;
        height: 460px;
        margin-bottom: 45px;
    }
    .shopBlock {
        width: 310px;
        height: 430px;
        padding-bottom: 50px;

        &__img {
            width: calc(100% - (2 * 70px));
            height: calc(#{$heightShopImg} - 260px);
            &--vac2 {
                width: calc(100% - (2 * 102px));
            }
        }
    }
    .shopInfo {
        &__title {
            font-size: 20px;
        }
        &__text {
            font-size: 11px;
        }
    }
}

@media (max-width: 750px) {
    .servicesBlock {
        &__colorText {
            font-size: 10px;
            letter-spacing: 5px;
            margin-bottom: 15px;
        }
        &__title {
            font-size: 25px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 8px;
            letter-spacing: 5px;
            margin-bottom: 30px;
        }
        .serviceBtn {
            font-size: 8px;
            width: 140px;
            height: 35px;
            margin-bottom: 65px;
        }
    }
    .heroPortfolio {
        &__title {
            font-size: 150px;
        }
        &__text {
            font-size: 10px;
            letter-spacing: 6px;
        }
    }
    .appliancesBlock {
        top: -60px;
    }
    .heroWorldBlock {
        height: 460px;
    }
    .strategyBlock {
        padding-top: 65px;
        margin-bottom: 40px;
        &--columnReverse {
            padding-top: 0;
        }
    }
    .commodityBlock {
        width: 310px;
        height: 420px;
        margin-bottom: 40px;
    }
    .shopBlock {
        width: 270px;
        height: 390px;
        padding-bottom: 35px;

        &__img {
            width: calc(100% - (2 * 35px));
            height: calc(#{$heightShopImg} - 260px);
            &--vac2 {
                width: calc(100% - (2 * 82px));
            }
        }
    }
    .shopInfo {
        &__title {
            font-size: 20px;
        }
        &__text {
            font-size: 11px;
        }
    }
    .shopBtn {
        &--now {
            width: 115px;
            height: 30px;
            font-size: 8px;
            bottom: -15px;
        }
    }
    .triangle {
        width: 100px;
        height: 100px;
        right: -55px;
        bottom: -55px;
    }
}

@media (max-width: 600px) {
    .sliderPoints{
        width: 115px;
        margin-bottom: 45px;
    }
    .serviceItems {
        margin-bottom: 20px;
    }
    
    .pointBlock {
        width: 20px;
        height: 20px;
        &__point{
            width: 4px;
            height: 4px;
        }
    }
    .servicesBlock {
        &__colorText {
            font-size: 8px;
            letter-spacing: 4px;
            margin-bottom: 10px;
        }
        &__title {
            font-size: 20px;
            margin-bottom: 15px;
        }
        &__text {
            font-size: 8px;
            letter-spacing: 4px;
            margin-bottom: 20px;
        }
        .serviceBtn {
            font-size: 7px;
            width: 125px;
            height: 30px;
            margin-bottom: 50px;
        }
    }
    .serviceItem {
        width: 395px;
        height: 275px;
        padding: 20px 25px 55px;
        &__title {
            font-size: 20px;
            margin-bottom: 15px
        }
        &__text {
            font-size: 12px;
        }
    }
    .serviceIcon {
        width: 50px;
        height: 45px;
        margin-bottom: 10px;
    }
    .heroText {
        bottom: 5px;
        &__title{
            font-size: 30px;
        }
        &__email{
            font-size: 30px;
        }
    }
    .heroPortfolio {
        &__title {
            font-size: 100px;
        }
        &__text {
            font-size: 8px;
            letter-spacing: 4px;
        }
    }
    .appliancesBlock {
        top: -35px;
    }
    .heroWorldBlock {
        height: 465px;
    }
    .strategyBlock {
        padding-top: 55px;
        margin-bottom: 35px;
        &--columnReverse {
            padding-top: 0;
        }
    }
    .creativeBlock {
        width: 410px;
        height: 410px;
        margin-bottom: 100px;
        &__orange {
            height: 95px;
        }
        &__photo {
            width: 340px;
            height: 410px;
            &--gradient {
                width: 50px;
                height: 95px;
            }
        }
        &__good {
            width: 220px;
            height: 305px;
            right: 25px;
            top: 157px;
        }

        &__data {
            font-size: 20px;
            bottom: -44px;
            width: 60px;
            left: 80px;
        }
    }
    #textRotate {
        margin-left: 11px;
        margin-bottom: 7px;
        font-size: 22px;
    }
    #textRotate2 {
        margin-right: 11px;
        margin-bottom: 7px;
        font-size: 22px;
    }
    .creativeInfo {
        width: 340px;
        &__title {
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__text {
            margin-bottom: 25px;
        }
    }
    .shopBtn {
        width: 110px;
        height: 30px;
        font-size: 8px;
    }
    .skillsInfo {
        width: 340px;
        &__title {
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__text {
            margin-bottom: 25px;
        }
    }
    .skillsBlock {
        width: 410px;
        height: 410px;
        margin-bottom: 100px;
        &__violet {
            height: 95px;
        }
        &__photo {
            width: 340px;
            height: 410px;
            &--gradient {
                width: 50px;
                height: 95px;
            }
        }
        &__good {
            width: 220px;
            height: 305px;
            left: 25px;
            top: 157px;
        }

        &__data {
            font-size: 20px;
            bottom: -44px;
            width: 60px;
            right: 80px;
        }
    }
}

@media (max-width: 480px) {
    .servicesBlock {
        &__colorText {
            font-size: 8px;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
        &__title {
            font-size: 16px;
            margin-bottom: 15px;
        }
        &__text {
            font-size: 7px;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }
        .serviceBtn {
            font-size: 6px;
            width: 100px;
            height: 25px;
            margin-bottom: 40px;
        }
    }
    .heroPortfolio {
        &__title {
            font-size: 90px;
        }
        &__text {
            top: calc(100% / 1.75);
            left: calc(100% / 3);
            font-size: 8px;
            letter-spacing: 4px;
        }
    }
    .appliancesBlock {
        top: -30px;
    }
    .creativeBlock {
        width: 370px;
        height: 380px;
        margin-bottom: 80px;
        &__orange {
            height: 80px;
        }
        &__photo {
            width: 310px;
            height: 100%;
            &--gradient {
                width: 40px;
                height: 80px;
            }
        }
        &__good {
            width: 180px;
            height: 260px;
            right: 20px;
            top: 149px;
        }

        &__data {
            bottom: -44px;
            width: 40px;
            left: 85px;
        }
    }
    #textRotate {
        margin-left: 9px;
        margin-bottom: 4px;
        font-size: 12px;
    }
    .creativeInfo {
        width: 320px;
        // height: 240px;
        &__title {
            font-size: 14px;
            margin-bottom: 15px;
        }
        &__text {
            font-size: 10px;
            margin-bottom: 20px;
        }
        .shopBtn {
            width: 100px;
            height: 25px;
            font-size: 7px;
        }
    }
    .serviceItem {
        width: 320px;
        height: 220px;
        padding: 20px 25px 25px;
    }
    .serviceHero {
        margin-bottom: 120px;
    }
    .heroText {
        &__title{
            font-size: 25px;
        }
        &__email{
            font-size: 25px;
            text-decoration: underline 2px solid #ac378e;
            text-underline-offset: 3px;
        }
    }
}
@media (max-width: 390px) {
    .servicesBlock {
        &__colorText {
            letter-spacing: 2px;
            margin-bottom: 5px;
        }
        &__title {
            font-size: 16px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 6px;
            letter-spacing: 2px;
            margin-bottom: 15px;
        }
        .serviceBtn {
            font-size: 5px;
            width: 90px;
            height: 20px;
            margin-bottom: 30px;
        }
    }
    .heroPortfolio {
        &__title {
            font-size: 80px;
        }
    }
    .appliancesBlock {
        top: -20px;
    }
    .strategyBlock {
        padding-top: 0;
        margin-bottom: 30px;
    }
    .ourSlogan {
        margin-bottom: 50px;
        &__title {
            font-size: 12px;
            margin-bottom: 20px;
        }
        &__sign {
            width: 60px;
            height: 45px;
        }
    }
    .creativeBlock {
        width: 300px;
        height: 310px;
        margin-bottom: 60px;
        &__orange {
            height: 75px;
        }
        &__photo {
            width: 250px;
            height: 100%;
            &--gradient {
                width: 20px;
                height: 75px;
            }
        }
        &__good {
            width: 160px;
            height: 235px;
            right: 10px;
            top: 117px;
        }
        &__data {
            bottom: -40px;
            width: 39px;
            left: 66px;
        }
    }
    #textRotate {
        margin-left: 4px;
        margin-bottom: 4px;
        font-size: 8px;
    }
    #textRotate2 {
        margin-right: 4px;
        margin-bottom: 4px;
        font-size: 8px;
    }
    .creativeInfo {
        width: 275px;
        height: 185px;
        &__title {
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 9px;
            margin-bottom: 15px;
        }
    }
    .shopBtn {
        width: 95px;
        height: 20px;
        font-size: 6px;
    }

    .skillsBlock {
        width: 300px;
        height: 310px;
        margin-bottom: 60px;
        &__violet {
            height: 75px;
        }
        &__photo {
            width: 250px;
            height: 100%;
            &--gradient {
                width: 20px;
                height: 75px;
            }
        }
        &__good {
            width: 160px;
            height: 235px;
            left: 10px;
            top: 117px;
        }
        &__data {
            bottom: -40px;
            width: 39px;
            right: 66px;
        }
    }
    .skillsInfo {
        width: 275px;
        height: 185px;
        &__title {
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 9px;
            margin-bottom: 15px;
        }
    }
    .heroWorldBlock {
        height: 120px;
    }
    .commodityBlock {
        width: 290px;
        height: 390px;
        margin-bottom: 30px;
    }
    .shopBlock {
        width: 250px;
        height: 350px;
        padding-bottom: 15px;

        &__img {
            width: calc(100% - (2 * 35px));
            height: calc(#{$heightShopImg} - 260px);
            &--vac2 {
                width: calc(100% - (2 * 70px));
            }
        }
    }
    .shopInfo {
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 10px;
        }
    }
    .shopBtn {
        &--now {
            width: 90px;
            height: 18px;
            font-size: 5px;
            bottom: -10px;
        }
    }
    .serviceItem {
        width: 270px;
        height: 200px;
        padding: 15px 15px 20px;
        &__title {
            font-size: 18px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 10px;
        }
    }
    .serviceIcon {
        width: 45px;
        height: 40px;
        margin-bottom: 10px;
    }
    .sliderPoints {
        width: 95px;
        margin-bottom: 40px;
    }
    .serviceHero {
        height: 900px;
        margin-bottom: 165px;
    }
    .heroText {
        bottom: 20px;
        &__title{
            font-size: 18px;
        }
        &__email{
            font-size: 18px;
        }
    }
}
