@mixin flex($jc:center, $ai:center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flexAround ($jc:space-around, $ai:center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flexBetween ($jc:space-between, $ai:center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin bgImg ($bgSize: cover, $bgRepeat: no-repeat) {
    background-size:$bgSize;
    background-repeat:$bgRepeat;    
}