@font-face {
    font-family: "segoe-wp-light";
    src: url(../fonts/segoe-wp-light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Trebushet MS";
    src: url(../fonts/9412.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Segoe WP";
    src: url(../fonts/SegoeWP.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "OptimaLT Medium";
    src: url(../fonts/LTe53505.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }