.sliderBlock {
    width: 100%;
    height: auto;
    // border: 2px solid green;
}

.sliderHero {
    width: 100%;
    height: auto;
    // border: 1px solid green;
    padding-right: 30px;
    position: relative;
    @include flexBetween(space-between, center);

    &__text {
        font-family: "Lato-Bold";
        font-size: 15px;
        writing-mode: vertical-rl;
        word-spacing: 5px;
        letter-spacing: 2px;

        &--first {
            color: #5e00ca;
            transform: rotateX(180deg) rotateY(180deg);
        }

        &--second {
            color: #31383e;
            color: linear-gradient(#5e00ca 20%, #c54a78 80%);
        }
    }
    &__img{
        width: 1740px;
        height: 550px;
        background-image: url(../img/10X_line.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.sliderText {
    width: 100%;
    margin: 40px 0 95px;
    text-align: center;
    &__title{
        font-family: "PlayfairDisplay-Regular";
        font-size: 28px;
        color: #48555d;
        word-spacing: 95px;
        letter-spacing: 50px;
    }
}

.sliderPoints {
    width: 130px;
    height: 30px;
    // border: 1px solid red;
    margin: 0 auto;
    margin-bottom: 55px;
    @include flexAround(space-around, center);
}

.pointBlock {
    @include flex();
    width: 30px;
    height: 100%;
    // border: 1px solid rgb(183, 255, 49);
    &__point {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #48555d;

        &--active {
            background-color: $activeColor;
        }
        &--white{
            background-color: white;
        }
    }

    &:first-child {
        border-radius: 50%;
        border: 2px solid $activeColor;
    }
}

.sliderButton {
    margin: 0 auto;
    width: 403px;
    height: 403px;
    position: relative;
    @include flex();
    border-radius: 50%;
    margin-bottom: 100px;
    background-color: $sliderButtonColor;

    &__lighten20 {
        width: 343px;
        height: 343px;
        border-radius: inherit;
        position: absolute;
        background-color: #1f1d25;
    }

    &__lighten40 {
        width: 276px;
        height: 276px;
        border-radius: inherit;
        position: absolute;
        background-color: #291f2c;
    }

    &__lighten60 {
        width: 208px;
        height: 208px;
        border-radius: inherit;
        position: absolute;
        background-color: #42243e;
    }

    &__play {
        width: 199px;
        height: 199px;
        border-radius: inherit;
        position: absolute;
        background-image: url(../img/playButton.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.ourSlogan {
    max-width: 1600px;
    // height: 365px;
    margin: 0 auto;
    @include flex();
    margin-bottom: 100px;
    flex-direction: column;

    &__title {
        font-family: 'PlayfairDisplay-Regular';
        font-weight: normal;
        font-size: 70px;
        text-align: center;
        color: white;
        margin-bottom: 70px;
    }
    &__sign{
        width: 130px;
        height: 96px;
        background-image: url(../img/signature.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

}