body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1024px;
  height: auto;
  margin: 0 auto; }

.header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 255px;
  height: auto; }

.logoTitle {
  font-family: "segoe-wp-light";
  font-size: 51px;
  font-weight: bold;
  color: #595959;
  margin: 0; }
  .logoTitle__black {
    font-family: "Trebushet MS";
    font-size: 51px;
    color: #313131; }

.logoImg {
  width: 30px;
  height: 30px;
  margin-bottom: 10px; }

.nav {
  list-style-type: none;
  width: 420px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "segoe-wp-light";
  font-size: 23px;
  font-weight: bold;
  color: #323332; }

.nav li {
  margin: 0;
  padding: 5px 10px 5px; }
  .nav li:hover {
    border-radius: 5px;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
    background-color: #373737;
    color: #ffffff; }

@font-face {
  font-family: "segoe-wp-light";
  src: url(../fonts/segoe-wp-light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Trebushet MS";
  src: url(../fonts/9412.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Segoe WP";
  src: url(../fonts/SegoeWP.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OptimaLT Medium";
  src: url(../fonts/LTe53505.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
.main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px; }

.companyGoods {
  width: 690px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.imgOfGoods {
  width: 310px;
  height: 245px;
  margin-bottom: 15px;
  background-image: url(../img/ipadBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.iPhone {
  margin-right: 20px; }

.describeGoods {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-left: 30px;
  width: 370px;
  height: 245px;
  font-family: "segoe-wp-light";
  color: #696161; }
  .describeGoods__title {
    margin: 0;
    font-size: 30px; }
  .describeGoods__text {
    font-size: 14px;
    margin: 0; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #7c7d7c; }
  .buttons:hover {
    cursor: pointer; }

.technicalInform {
  width: 220px;
  height: auto;
  font-family: "segoe-wp-light";
  color: #696161;
  padding: 0 5px; }
  .technicalInform__title {
    margin: 0;
    font-size: 26px;
    font-weight: bold; }
  .technicalInform__text {
    font-size: 14px; }

.infoBlockBlock {
  width: 330px;
<<<<<<< HEAD
  height: auto;
  display: block; }
  .infoBlockBlock .infoBlockFirst {
=======
  height: auto; }
  .adBlock .adFirst {
>>>>>>> 32c2374690916a4d7f431348c1449d06e61af85c
    width: 100%;
    height: 250px;
    border: 1px solid silver;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-family: "segoe-wp-light";
    font-size: 21px;
    font-weight: bold;
    color: #696161; }
    .infoBlockBlock .infoBlockFirst__title {
      font-family: "Segoe WP";
      margin: 0;
      color: #b8dc58;
      font-size: 39px; }
    .infoBlockBlock .infoBlockFirst .photoIPad {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px;
      position: relative;
      width: 160px;
      height: 160px; }
    .infoBlockBlock .infoBlockFirst .ipadMini {
      position: absolute;
      bottom: 0;
      right: -20px; }
    .infoBlockBlock .infoBlockFirst .cssImg {
      position: absolute;
      bottom: 0;
      right: -125px; }

.infoBlockSecond {
  margin: 0 auto;
  width: 100%;
  height: 270px;
  background-color: #99ffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Segoe WP";
  color: white;
  text-align: center; }
  .infoBlockSecond__title {
    line-height: 40px;
    font-size: 41px;
    margin: 0; }
  .infoBlockSecond__text {
    width: 220px;
    font-size: 23px;
    margin: 0; }

.week12 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ff9999;
  border: 5px solid white;
  font-family: "Segoe WP";
  color: white;
  text-align: center;
  position: relative;
  top: -20px; }
  .week12__title {
    line-height: 75px;
    font-weight: bold;
    margin: 0 auto;
    font-size: 71px; }
  .week12__text {
    margin: 0 auto;
    font-size: 21px; }

.joingUs {
  width: 170px;
  height: 30px;
  background-color: #66cccc;
  margin: 15px 0;
  padding: 5px;
  border-radius: 10px;
  text-align: center; }
  .joingUs__text {
    font-family: "OptimaLT Medium";
    font-size: 20px;
    color: white;
    margin: 0; }
  .joingUs:hover {
    cursor: pointer; }

.infoBlockThird {
  width: 100%;
  height: 265px;
  background-color: #333333;
  margin-bottom: 20px;
  font-family: "OptimaLT Medium";
  padding-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border-bottom: 10px solid #cc3366; }
  .infoBlockThird__title {
    width: 250px;
    margin: 0;
    font-size: 24px; }
  .infoBlockThird__text {
    text-align: start;
    margin: 0;
    width: 270px;
    font-family: "Segoe WP";
    font-size: 16px; }

.input {
  width: 255px;
  padding: 5px;
  margin-top: 10px; }

.singMeUp {
  width: 170px;
  height: 30px;
  background-color: #cc3366;
  margin: 15px 0;
  padding: 5px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .singMeUp__text {
    font-family: "OptimaLT Medium";
    font-size: 20px;
    color: white;
    margin: 0; }
  .singMeUp:hover {
    cursor: pointer; }

.heroBlock {
  width: 100%;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  margin: 0;
  position: relative; }

.heroDescription {
  width: 320px;
  height: 240px; }

h1 {
  font-family: "segoe-wp-light";
  color: #5d5d5d;
  font-weight: bold;
  margin: 0;
  font-size: 61px; }

h3 {
  font-family: "segoe-wp-light";
  color: #5d5d5d;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  font-size: 47px; }

.videoReview {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  width: 205px;
  padding-right: 5px;
  height: 40px;
  font-family: "segoe-wp-light";
  font-size: 23px;
  color: white;
  background-color: #373737;
  -webkit-transition: 1.5s;
  transition: 1.5s; }
  .videoReview:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px; }
    .videoReview:hover .camera {
      background-image: url(../img/cameraDark.png); }

.camera {
  width: 40px;
  height: 20px;
  background-image: url(../img/camera.png);
  background-repeat: no-repeat;
  background-size: cover; }

.iPod {
  position: absolute;
  right: -130px; }

.footerHero {
  width: 100%;
  background-color: #393a39; }

.footer {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "segoe-wp-light";
  font-weight: 16px;
  position: relative; }

.social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 125px;
  height: auto;
  -webkit-transition: 1.5s;
  transition: 1.5s; }
  .social:hover {
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
