* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "Myriad Pro";
  src: url(../fonts/8141.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Myriad Pro Regular";
  src: url(../fonts/8143.otf);
  font-weight: normal;
  font-style: normal; }
.worldBlock {
  width: 1100px;
  height: 750px;
  margin: 0 auto;
  margin-top: 25px;
  background-image: url(../img/MapOfWorld.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.partsOfWorld {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .partsOfWorld__west {
    width: 365px;
    height: 100%; }
  .partsOfWorld__center {
    width: 365px;
    height: 100%; }
  .partsOfWorld__east {
    width: 365px;
    height: 100%; }

h1 {
  font-family: "Myriad Pro";
  font-size: 38px;
  color: white;
  text-align: center;
  margin-top: 15px; }

.mainLand {
  width: 100%;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mainLand__America {
    background-color: rgba(0, 51, 102, 0.5); }
  .mainLand__Europe {
    background-color: rgba(102, 51, 102, 0.5); }
  .mainLand__Africa {
    background-color: rgba(241, 228, 9, 0.5); }
  .mainLand__Asia {
    background-color: rgba(127, 44, 61, 0.5); }
  .mainLand__Australia {
    background-color: rgba(194, 146, 70, 0.5); }

.country {
  width: 320px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .country__USA {
    background-color: rgba(0, 51, 102, 0.5); }
  .country__France {
    background-color: rgba(102, 51, 102, 0.5); }
  .country__China {
    background-color: rgba(102, 51, 51, 0.5); }
  .country__southAfrica {
    background-color: rgba(153, 153, 51, 0.5); }
  .country__Australia {
    background-color: rgba(153, 102, 51, 0.5); }
  .country__flag {
    width: 100px;
    height: 65px;
    background-image: url(../img/flag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .country__name {
    font-family: "Myriad Pro";
    font-size: 30px;
    color: white;
    margin-top: 15px;
    margin-left: 10px; }
    .country__name::after {
      width: 100px;
      height: 65px;
      background-image: url(../img/flag.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block; }

.cities {
  width: 100%;
  height: 150px;
  margin-left: 15px; }
  .cities__title {
    font-family: "Myriad Pro Regular";
    font-size: 26px;
    color: white;
    font-weight: normal; }

.city {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .city__flag {
    margin-right: 10px; }
  .city__name {
    font-family: "Myriad Pro Regular";
    font-size: 21px;
    color: white;
    font-weight: normal; }

/*# sourceMappingURL=style.css.map */