.headerBlock{
    border-bottom: 2px solid #cccccc;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 255px;
    height: auto;
}

.logoTitle {
    font-family: "segoe-wp-light";
    font-size: 51px;
    font-weight: bold;
    color: #595959;

    &__black {
        font-family: "Trebushet MS";
        font-size: 51px;
        color: #313131;
    }
}

.logoImg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.nav {
    list-style-type: none;
    width: 420px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__item a{
        text-decoration: none;
        font-family: "segoe-wp-light";
        font-size: 23px;
        font-weight: bold;
        color: #323332;
    }
}

.nav a {
    padding: 5px 10px 5px;

    &:hover {
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        background-color: #373737;
        color: #ffffff;
    }
}
